extends base

block header
  h2 Seul vendeur à garantir ses disques pendant&nbsp5&nbspans&nbsp!
  p grâce à l'emploi de disques de qualité professionnelle bénéficiant de la <a href="http://www.verbatim.fr/fr/article/core-technologies/?con=24" alt="Technologie AZO">technologie AZO&trade;</a> garantissant une durée de vie et des qualités de lecture exceptionnelles

block disc-quality
  h2 Disque de qualité professionnelle
  p Bénéficiant de la <a href="http://www.verbatim.fr/fr/article/core-technologies/?con=24" alt="Technologie AZO">technologie AZO&trade;</a>, votre disque est garanti pendant 5 ans sur la qualité de lecture des données.
  p Conditionné dans une pochette plastique et expédié dans une enveloppe à dos cartonné, le disque est bien protégé afin de vous offrir les prix les plus bas possibles tout en vous garantissant une qualité irréprochable.

block warranty
  p toute commande bénéficie d'une garantie de 5 ans et applique la politique des retours d'eBay
