extends pug/base-disc

block projectName
  title ubuntu

block title
  h1 Ubuntu Live DVD et Installation test
  p Le célèbre système utilisé par des millions de personnes à travers le monde

block slideshow
  +images(
  'ubuntu/16.04.3/32/disc-default.jpg',
  'ubuntu/16.04.3/32/disc-pochette.jpg',
  'disc-enveloppe.jpg')

block description
  .banner.ubuntu
  .description
    h3 Un système complet
    p Ubuntu est accompagné de tout ce dont vous avez besoin pour votre usage personnel, votre organisation, votre école ou votre entreprise. Toutes les applications essentielles, comme une suite bureautique, un navigateur internet, un client email ou des applications média sont préinstallées. De nombreuses applications supplémentaires et des jeux sont également disponibles gratuitement dans le centre de téléchargement d'Ubuntu.
    h3 Suite bureautique intégrée
    p Créez des documents professionnels, des tableaux ou des présentations avec LibreOffice, la suite bureautique compatible avec Microsoft Office. Vous pouvez ouvrir et éditer des fichiers Word, Excel et même Powerpoint et les partager avec d'autres utilisateurs rapidement et facilement. Vous pouvez également utiliser Google Docs directement depuis l'l'environnement Ubuntu.
    h3 Naviguez sur internet en toute sécurité
    p Renommé pour leur vitesse et leur sécurité, Ubuntu et Firefox rendent la navigation sur internet plus plaisante que jamais. Ubuntu inclut également Chrome, Opera et d'autres navigateurs internet qui peuvent être installés directement depuis le centre de téléchargement.
    h3 Envoyez des emails en toute simplicité
    p Ubuntu contient Thunderbird, l'application populaire de Mozilla. Vous avez un accès rapide à vos mails depuis le bureau. Peu importe quel service Email vous utilisez (Gmail, Hotmail, Microsoft Exchange, Yahoo...), POP ou IMAP, ça fonctionne.
    h3 Organisez vos photos
    p Avec Shotwell, vous pouvez facilement et rapidement importer, organiser et éditer vos photos. Et vous pouvez partager vos clichés préférés sur tous les sites de photo et les réseaux sociaux populaires.
    h3 Retouchez et illustrez
    p Retouchez vos photos ou créez des illustrations professionnelles avec des outils comme Gimp et Inkscape, disponibles gratuitement dans le centre de téléchargements.
    h3 Lecteur de musique et vidéo
    p Regardez vos contenus préférés avec des applications pour lire, gérer et partager vos vidéos. Réalisez des montages avec PiTiVi et regardez-les dans Movie Player, ou ajouter VLC et OpenShot depuis le centre de téléchargements. Tous les formats sont compatibles.
    h3 Recherche intelligente
    p En activant la recherche en ligne, les filtres intelligents trouvent le contenu dont vous avez besoin plus vite et plus facilement, qu'il soit stocké sur votre ordinateur ou sur le net. Tapez directement depuis le bureau et le filtre intelligent détermine quelles catégories de contenu correspondent le mieux à votre recherche, vous affichant uniquement les meilleurs résultats. Il apprend de vos recherches précédentes pour devenir incroyablement pertinent.
